<div class="user-cb-list">

</div>

<section class="card">
  <h2 class="cb-title">{{cookbook_name}}</h2>
  <h2><i class="fa-solid fa-book-open"></i></h2>
  <div class="cb-descr">{{description}}</div>
</section>