<div class="col-12">
<div class="recipe-title" style="margin-top:-1%; margin-bottom:1%;">
          {{category_id}}
          </div><br>
          

<section class="recipe-little-card">
      <a href="#" class="recipe-card-title">
    {{recipe_name}}
    </a>
     <div class="regular-font"><br>
     <div class="recipe-img">{{img_name}}</div><br>
  <div class="cb-descr">{{description}}</div>
  

</div>
    </div>
</section>