<section class="card cb-card">
  
  <h2>{{recipe_name}}</h2>
  <div class="regular-font">{{description}}</div>
  <div class="regular-font">{{ingredients}}</div>
  <div class="regular-font">{{img_name}}</div>
</section>