
<section class="recipe-little-card">
  <a href='/recipes/{{id}}'> 
    <img class="recipe-img" src="{{img_name}}"><br>
    <div class="recipe-card-title">
    {{recipe_name}}
    </div>
    <div class="cb-descr">{{description}}</div>
  </a>

  


    </div>
</section>