<div class="recipe-title" style="margin-top:-1%; margin-bottom:1%; text-align:center;">
          {{category_id}}
          </div><br>
          

<section class="recipe-card">
      <a href="#" class="recipe-card-title">
    {{recipe_name}}
    </a>
     <div class="regular-font"><br>
     <div class="recipe-img">{{img_name}}</div><br>
  <div class="cb-descr">{{description}}</div><br>
  


    </div>
</section>