<head>
    <meta charset="UTF-8">
    <title>Family Cookbook</title>
    <!-- <link rel="stylesheet" href="/public/css/jass.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <div class="user-access">
            <a href="#sign-up">sign up</a> | <a href="login">login</a>
        </div>

        <h1>
          FAMILY COOKBOOK
        </h1>
        
        <div class="navbar" id="myTopnav">
            <a href="#home">home</a> 
            <a href="#cookbooks">cookbooks</a> 
            <a href="#recipes">recipes</a> 
            <a href="#about us">about us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">

  </a>
</div>


      </header>
        <main class="container container-fluid mt-5">
          <div class="flex-column"></div>
            

        </main>
    </div>
    </body>
  
  </html>