<img src="/assets/008.jpg" class="banner-img">
<h2 class="regular-font" style="margin-left:47%;"><br>
    "Cooking is one of the greatest gifts you can give to those you love." - Ina Garten
  </h2>
<div class="row recipe-card">
  
   
   <div class="col-3" style="width:100%; height:300px;overflow:scroll;padding:20px;">

    <h2 class="regular-font">Most recent recipes in
      <br>the
      {{!-- username --}}
      <u>King</u>
      Cookbook
      <br><br>
      <i class="fa-regular fa-heart"></i>

      <a class="btn btn-block add-recipe-btn regular-font" role="button" href="/add-recipe">
      Add a recipe!
      </a>
      
      {{!-- need to make an append list of recently added recipes? --}}
      <p class="recipe-list">
      {{#each recipes}}
        {{> recipe_name}}
      {{/each}}
      <a href="/recipes/1">Baklava <br></a>
      <br><br>...<br><br><br><br><br><br><br><br>
      <a href="/recipes/2">Paprikas <br></a>
      <a href="/recipes/3">PeÄenja <br></a>
      
      </p>
      
    </h2>
    </div>



<div class="col-9">
  
  <div class="row cb-card">
{{#each books}}
  {{> cb-details}}
{{/each}}
</div>
</div>
