<div class="row">
    <div class="col-8">
      <div class="row recipe-card">
{{#each recipes}} 
  <h2>{{> recipe-details}}
{{/each}}
</h2>
</div>

<a class="btn btn-md add-recipe-btn regular-font" role="button" href="/add-recipe">
      Add a recipe!
      </a>
</div>
</div>

