<div class="col-12">
  <div class="2"></div>
    <div class="col-8">
      <div class="row recipe-card">
{{#each recipes}} 
  <h2>{{> recipe-details}}
{{/each}}
</h2>
</div>
</div>
</div>
<div class="2"></div></div>
<div class="col-md">
<a class="btn btn-md add-recipe-btn regular-font" role="button" href="/add-recipe">
      Add a recipe!
      </a>
</div>
</div>
</div>

