.col-12 {
  background-image: linear-gradient(gray, rgb(85, 85, 85));
  padding:25px;
}

#main-title {
  font-family: 'Sacramento', cursive;
  color:white;
  font-size: 40px;
  margin:15px;
}

#myTopnav {
  justify-content: space-evenly;
}

#myTopnav a {
  font-family: 'Lexend Deca', sans-serif;
}

.user-access {
  float: right;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
}

.user-access a {
  color:white;
  font-family: 'Lexend Deca', sans-serif;
}

img {
  vertical-align: top;
  width:auto;
  height:auto;
}

/* .row {
  position:relative;
  justify-content: space-evenly;
} */

.btn {
  font-family:'Alata', sans-serif;
}


#sign-up-section {
  position:absolute;
  z-index: 1;
  margin-top:20px;
  border:solid;
  border-radius:50px;
  border-color: lightgray;
  padding:50px;
  box-shadow: 0px 3px 80px white;
  background-color: white;
  font-family:'Lexend Deca', sans-serif;
}

.recipe-card {
  text-align: center;
  padding: 10px;
  
}

.recipe-name {
  font-family: 'Lexend Deca Light', sans-serif;
  font-size: 24px;
  
}

.recipe-info {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}



.marquee {
  overflow: hidden;
  margin: 0 auto;
  white-space: inherit;
  z-index: 2;
}
.marquee span {
  list-style: none;
  height: 100%;
  display: flex;
  position:fixed;
  left: 100%;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0%   { left: -20%; }
  100% { left: -100%; }
}